<footer id="site-footer">
  <div class="container large-desktop-width">
    <div class="row">
      <div id="site-footer-locales" class="column one-fourth">
        {% if available_locales | length > 1 %}
        <div id="language-select" class="custom-select">
          <button class="custom-select-selected" aria-expanded="false" aria-haspopup="true">
            {{ config.get("langnames", locale) }}
          </button>
          <ul class="custom-select-options" aria-label="{{ "Select Language" | translate("language-options-label", "Label") }}" role="menu" tabindex="-1">
            {% for available_locale in available_locales %}
            <li class="custom-select-option" role="none">
              {{ page | linkify(available_locale) }}{{ config.get("langnames", available_locale) }}</a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
      </div>
      
      <div id="site-footer-nav" class="column three-fourths">
        <nav>
          <ul class="horizontal-list">
            <li><a href="legal">{{ "Legal" | translate("footer-nav-link-1", "Navigation link") }}</a></li>
            <li><a href="https://adblockplus.org/privacy">{{ "Privacy Policy" | translate("footer-nav-link-2", "Navigation link") }}</a></li>
          </ul>
        </nav>
        <span class="muted">
          {{ "<a href=\"https://adblockplus.org\">Adblock Plus</a> is a registered trademark of <a href=\"https://eyeo.com\">eyeo GmbH</a>" | translate("footer-trademark-notice", "Paragraph") }}
        </span>
      </div>
    </div> {# .row #}
  </div> {# .container #}
</footer>
